@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


body
{
    overflow-x: hidden;
    width: 100vw;
}

.landpg
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Playfair", serif ;
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
}

.landpg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background: url("../assets/cityscape.jpg") no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
}