.navbar
{
  min-height: 8vh;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;         
  left: 0;
  padding: 10px 20px;
}

.logo
{
  margin-left: -2vh;
  margin-top: 2vh;
  height: 10vh;
  width: 20vw;
  background-color: white;
  background : url("../assets/Saferi-removebg-preview.png") no-repeat center center/cover;
}

.sections
{
  margin-right: 10vh;
}

.sections a 
{
    text-decoration: none; 
    color: black; 
    padding: 10px 15px; 
    font-size: 2.5vh;
    transition: background-color 0.3s, border-bottom 0.3s;  
    border-bottom: 2px solid transparent; 

}

.sections a:hover 
{
  background-color: white;
  border-bottom: 2px solid #007bff; 
}
