.container
{
    position: fixed;
    top:0vh;
    left: 20vw;
    height: 100vh;
    width: 60vw;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typing-content
{
    font-size: 8vh;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 7s steps(22), blink 0.7s infinite;
    animation-iteration-count: infinite;
}

@keyframes typing
{
    0% { width: 0; }
    80% { width: 40vw; } /* Text fully appears */
    90% { width: 40vw; } /* Pause before reset */
    100% { width: 0; } /* Reset to empty */
}

@keyframes blink 
{
    50%
    {
        border-color: transparent;
    }    
}

.stJourney
{
    width: 10vw;
    background-color: transparent;
    border: 2px solid #007bff;     
    border-radius: 8px;         
    color: black;
    padding: 10px 20px;           
    font-size: 16px;              
    cursor: pointer;               
    transition: background-color 0.3s, color 0.3s; 
    padding: 10px 20px;

}

.stJourney:hover
{
    background-color: #007bff;
    color: black;                 
}

.container a
{
    text-decoration: none;
}